bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

wwwroot/css/tailwind.css
wwwroot/css/tailwind.css.map
wwwroot/css/styles.min.css

.vscode/
*.vs/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

postcss.config.js
tailwind.config.js

.DS_Store
Thumbs.db

.idea/
*.log